.modalbodywin
{
	background-color: limegreen;
	color: white;
	font-size: 100%;
}

.modalbodylose
{
	background-color: gray;
	color: white;
	font-size: 100%;
}

.game-container
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 90vh; /* Ensure the container takes up the full viewport height */
}

.score-container {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
}